body {
  color: white;
  background: rgb(32, 35, 42);
  font-weight: 400;
  margin: 0;
  padding: 0;
}

#section01,
#section02,
#section03,
#section04,
#section05,
#section06,
#section07,
#section08,
#section09,
#topbar {
  position: relative;
  z-index: 1000;
}