#section07 {


  .row {
    background-color: $primari;
    margin: 0;
    padding: 10px 10px;
  }

  .col-12 {
    box-sizing: border-box;
    height: 300px;
    margin: 10px 0;
    border-left: 5px solid $primari;
    border-right: 5px solid $primari;
  }

  .col-12:nth-child(1) {
    background: url('../image/mmu1.jpg') no-repeat center/cover;
  }

  .col-12:nth-child(2) {
    background: url('../image/mmu2.jpg') no-repeat center/cover;
  }

  .col-12:nth-child(3) {
    background: url('../image/mmu3.jpg') no-repeat center/cover;
  }

  .col-12:nth-child(4) {
    background: url('../image/mmu4.jpg') no-repeat center/cover;
  }

  @include md {
    .row {
      padding: 30px 15px;
    }

  }

  @include lg {
    .row {
      padding: 60px 30px;
    }
  }
}