body {
  color: white;
  background: rgb(32, 35, 42);
  font-weight: 400;
  margin: 0;
  padding: 0;
}

#section01,
#section02,
#section03,
#section04,
#section05,
#section06,
#section07,
#section08,
#section09,
#topbar {
  position: relative;
  z-index: 1000;
}

#section01 {
  background: url("../image/home-img1.jpg") no-repeat center/cover;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 40px 10px;
  font-weight: bolder;
}
#section01 .ironmass {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 25px;
}
#section01 .mdp {
  margin-top: 3%;
  font-weight: 200;
  font-size: 15px;
  line-height: 30px;
  text-align: center;
  display: none;
}
#section01 .line {
  height: 6px;
  width: 135px;
  background-color: #fd3c3d;
  margin-bottom: 30px;
}
#section01 span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
}
#section01 span p {
  margin: 0;
  font-size: 45px;
}
#section01 span p:nth-child(1) {
  color: #fd3c3d;
}
#section01 input {
  display: inline-block;
  border: none;
  color: white;
  background-color: #fd3c3d;
  font-weight: bolder;
  padding: 15px 20px;
  margin-top: 3%;
}
#section01 input:hover {
  color: black;
  background-color: white;
}
@media (min-width: 768px) {
  #section01 {
    padding: 60px 10px;
  }
  #section01 .mdbr {
    display: block;
  }
  #section01 .lgbr {
    display: none;
  }
  #section01 .mdp {
    display: block;
  }
  #section01 .ironmass {
    font-size: 30px;
  }
  #section01 .mdp {
    font-size: 20px;
  }
  #section01 span {
    margin: 0;
  }
  #section01 span p {
    font-size: 70px;
  }
}
@media (min-width: 992px) {
  #section01 {
    padding: 200px 10px;
  }
  #section01 .mdbr {
    display: none;
  }
  #section01 .lgbr {
    display: block;
  }
  #section01 .ironmass {
    font-size: 40px;
  }
  #section01 span {
    margin: 0;
  }
  #section01 span p {
    font-size: 110px;
  }
}

#section02 {
  padding: 40px 0;
  width: 100%;
  text-align: center;
}
#section02 .row {
  margin: 0;
}
#section02 .box1 {
  height: 29px;
  font-weight: bolder;
  font-size: 20px;
}
#section02 .box2 {
  height: 31px;
}
#section02 .card:nth-child(1) {
  background: url("../image/home-programs-img1.jpg") no-repeat center/cover;
}
#section02 .card:nth-child(2) {
  background: url("../image/home-programs-img2.jpg") no-repeat center/cover;
}
#section02 .card:nth-child(3) {
  background: url("../image/home-programs-img3.jpg") no-repeat center/cover;
}
#section02 .card:nth-child(4) {
  background: url("../image/home-programs-img4.webp") no-repeat center/cover;
}
#section02 .bas {
  height: 424px;
  font-weight: bolder;
  font-size: 30px;
}
#section02 .card {
  padding: 30px 0;
  border-top: 6px solid transparent;
}
#section02 .card a {
  font-weight: bolder;
  font-size: 14px;
  color: white;
  border: 2px solid white;
  padding: 10px 20px;
  text-decoration: none;
}
#section02 .card a:hover {
  background: white;
  color: black;
}
#section02 .card:hover {
  border-top: 6px solid #fd3c3d;
}
#section02 .line {
  height: 6px;
  width: 135px;
  background-color: #fd3c3d;
  margin: auto;
}
@media (min-width: 768px) {
  #section02 {
    padding: 70px 0;
  }
  #section02 .bas {
    height: 340px;
  }
}
@media (min-width: 992px) {
  #section02 {
    padding: 91px 0;
  }
  #section02 .bas {
    height: 544px;
  }
}

#section03 {
  padding-top: 10px;
  width: 100%;
}
#section03 .line {
  height: 6px;
  width: 135px;
  background-color: #fd3c3d;
  margin: auto;
}
#section03 .row {
  margin: 0;
}
#section03 .box1 {
  height: 29px;
  font-weight: bolder;
  font-size: 25px;
  text-align: center;
}
#section03 .box2 {
  height: 31px;
}
#section03 .c1 {
  width: 100%;
  height: 310px;
}
#section03 .card:nth-child(1) .c1 {
  background: url("../image/mu1.jpg") no-repeat center/cover;
}
#section03 .card:nth-child(2) .c1 {
  background: url("../image/mu2.jpg") no-repeat center/cover;
}
#section03 .card:nth-child(3) .c1 {
  background: url("../image/mu3.jpg") no-repeat center/cover;
}
#section03 .card:nth-child(4) .c1 {
  background: url("../image/mu4.jpg") no-repeat center/cover;
}
#section03 .c2 h4 {
  margin-bottom: 10px;
}
#section03 .c2 span {
  color: #fd3c3d;
}
#section03 .c2 p {
  font-weight: 100;
}
#section03 .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
  background-color: #31343c;
}
@media (min-width: 768px) {
  #section03 {
    padding: 60px 0;
  }
  #section03 .row {
    width: 90%;
    margin: auto;
  }
}
@media (min-width: 992px) {
  #section03 {
    padding-top: 102px;
    padding-bottom: 99px;
  }
  #section03 .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0;
  }
  #section03 .c1 {
    height: 100%;
  }
  #section03 .c2 {
    width: 70%;
    padding: 42px 60px 0 60px;
  }
  #section03 .row {
    width: 100%;
  }
}
@media (min-width: 1400px) {
  #section03 .row {
    width: 95%;
  }
}

#section04 {
  background-color: #fd3c3d;
  height: 298px;
  padding: 40px 10px;
}
#section04 .swiper {
  width: 100%;
  height: 100%;
}
#section04 .swiper-button-next {
  color: white;
  background-color: #fd3c3d;
  position: absolute;
  right: 0px;
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
}
#section04 .swiper-button-prev {
  color: white;
  background-color: #fd3c3d;
  position: absolute;
  left: 0px;
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
}
#section04 .swiper-slide {
  margin: 0;
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#section04 .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#section04 .mySwiper:hover .swiper-button-next {
  opacity: 1;
}
#section04 .mySwiper:hover .swiper-button-prev {
  opacity: 1;
}
@media (min-width: 768px) {
  #section04 {
    height: 607px;
    padding: 70px 40px;
  }
}
@media (min-width: 992px) {
  #section04 {
    height: 1023px;
    padding: 106px 0px;
  }
}
@media (min-width: 1400px) {
  #section04 {
    height: 1023px;
    padding: 106px 50px;
  }
}

#section05 {
  padding: 40px 0;
  width: 100%;
  text-align: center;
}
#section05 .line {
  height: 6px;
  width: 135px;
  background-color: #fd3c3d;
  margin: auto;
}
#section05 a {
  display: inline-block;
  color: white;
  text-decoration: none;
  margin: 20px 10px;
}
#section05 a:hover {
  color: #fd3c3d;
}
#section05 .bor {
  font-size: 20px;
  font-weight: bolder;
}
#section05 input {
  padding: 13px 27px;
  font-size: 20px;
  font-weight: bolder;
  color: white;
  background-color: #fd3c3d;
  border: 0;
}
#section05 input:hover {
  color: black;
  background-color: white;
}
#section05 .row {
  margin: auto;
}
#section05 .box1 {
  height: 29px;
  font-weight: bolder;
  font-size: 25px;
  text-align: center;
}
#section05 .box2 {
  height: 31px;
}
#section05 .card {
  padding: 55px 45px 30px 45px;
}
#section05 .card:nth-child(1) {
  background: url("../image/608242-1280x510.jpg") no-repeat center;
}
#section05 .card:nth-child(2) {
  background: url("../image/cbb95225112f706b8f59fbf60fe30839_large-1280x510.jpg") no-repeat center;
}
#section05 .card:nth-child(3) {
  background: url("../image/fitness-gym-girl-barbell-J769-1280x510.jpg") no-repeat center;
}
@media (min-width: 768px) {
  #section05 {
    padding: 83px 0;
  }
  #section05 .row {
    width: 95%;
  }
  #section05 .card {
    padding: 110px 85px 90px 85px;
  }
}
@media (min-width: 992px) {
  #section05 .row {
    width: 88%;
  }
  #section05 .card {
    padding: 110px 85px 90px 85px;
  }
}

#section06 {
  width: 100%;
  padding: 40px 0;
}
#section06 .bg {
  background: url("../image/home-testimonials-img.jpg") no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#section06 .line {
  height: 6px;
  width: 150px;
  background-color: #fd3c3d;
  margin: auto;
}
#section06 .box1 {
  height: 29px;
  font-weight: bolder;
  font-size: 25px;
  text-align: center;
}
#section06 .box2 {
  height: 31px;
}
#section06 .boxmain {
  width: 90%;
  margin: auto;
  padding: 90px 0 10px 0;
}
#section06 span {
  display: inline-block;
  color: #fd3c3d;
  margin-top: 30px;
  font-weight: bolder;
}
@media (min-width: 768px) {
  #section06 {
    padding: 70px 0;
  }
  #section06 .boxmain {
    padding: 150px 0 10px 0;
  }
  #section06 span {
    margin-top: 10px;
    margin-bottom: 90px;
  }
  #section06 p {
    line-height: 1.5rem;
  }
}
@media (min-width: 992px) {
  #section06 {
    padding: 100px 0;
  }
  #section06 .boxmain {
    width: 50%;
  }
  #section06 .boxtwo {
    height: 285px;
    width: 50%;
  }
  #section06 span {
    font-size: 25px;
  }
  #section06 p {
    font-weight: 300;
    font-size: 25px;
  }
}

#section07 .row {
  background-color: #fd3c3d;
  margin: 0;
  padding: 10px 10px;
}
#section07 .col-12 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 300px;
  margin: 10px 0;
  border-left: 5px solid #fd3c3d;
  border-right: 5px solid #fd3c3d;
}
#section07 .col-12:nth-child(1) {
  background: url("../image/mmu1.jpg") no-repeat center/cover;
}
#section07 .col-12:nth-child(2) {
  background: url("../image/mmu2.jpg") no-repeat center/cover;
}
#section07 .col-12:nth-child(3) {
  background: url("../image/mmu3.jpg") no-repeat center/cover;
}
#section07 .col-12:nth-child(4) {
  background: url("../image/mmu4.jpg") no-repeat center/cover;
}
@media (min-width: 768px) {
  #section07 .row {
    padding: 30px 15px;
  }
}
@media (min-width: 992px) {
  #section07 .row {
    padding: 60px 30px;
  }
}

#section08 {
  width: 100%;
  padding-top: 25px;
  background-color: #181a1f;
}
#section08 .mycon {
  width: 90%;
  margin: auto;
  text-align: center;
}
#section08 h2 {
  font-size: 25px;
}
#section08 p {
  margin-bottom: 20px;
}
#section08 .buttom {
  color: white;
  background-color: #fd3c3d;
  border: 1px solid #fd3c3d;
  line-height: 34px;
  font-weight: 800;
}
#section08 .buttom:hover {
  background-color: transparent;
  border: 1px solid white;
}
#section08 img {
  display: inline-block;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  #section08 p {
    margin-bottom: 40px;
  }
}
@media (min-width: 992px) {
  #section08 h2 {
    font-size: 3rem;
  }
  #section08 p {
    font-size: 2rem;
  }
}

#section09 div {
  margin: 0;
}
#section09 .row {
  margin: 20px 20px;
}
#section09 a {
  display: block;
  color: white;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 100;
  margin: 10px;
}
#section09 a:hover {
  color: #fd3c3d;
}
#section09 .email {
  color: #fd3c3d;
}
#section09 .email:hover {
  color: white;
}
#section09 p {
  font-size: 1rem;
  font-weight: 100;
}

#footer {
  padding: 30px 0;
  background-color: #181a1f;
}
#footer a {
  color: #fd3c3d;
}
#footer a:hover {
  color: white;
}

#gotop {
  padding: 10px;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1000;
}
#gotop a {
  text-decoration: none;
  color: azure;
}
#gotop:hover {
  background-color: #fd3c3d;
}

#topbar .aa1 {
  height: 100px;
  width: 100%;
}
#topbar .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#topbar .icpho {
  margin-top: 10px;
  -o-object-fit: contain;
     object-fit: contain;
  height: 25px;
}
#topbar .icomd {
  text-align: end;
  line-height: 50px;
  display: none;
}
#topbar #smlist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#topbar #smlist img {
  height: 25px;
  margin: 0 10px;
  -o-object-fit: contain;
     object-fit: contain;
}
#topbar #smlist .ser {
  position: relative;
  left: 20px;
  -o-object-fit: contain;
     object-fit: contain;
}
#topbar #mdlist {
  background: #fd3c3d;
  padding: 20px 0;
  width: 100%;
}
#topbar #mdlist .row {
  width: 100%;
}
#topbar #mdlist a {
  text-decoration: none;
  color: white;
  font-weight: bolder;
  font-size: 35px;
}
#topbar #mdlist .smimg {
  position: relative;
  -o-object-fit: contain;
     object-fit: contain;
  height: 40px;
}
#topbar #mdlist .mdbuttom {
  display: none;
}
#topbar #mdlist .mdicon {
  display: none;
}
#topbar #mdlist .lgbuttom {
  display: none;
}
@media (min-width: 768px) {
  #topbar .aa1 {
    height: 50px;
  }
  #topbar .icomd {
    display: block;
  }
  #topbar #smlist {
    display: none;
  }
  #topbar #mdlist {
    padding: 0;
  }
  #topbar #mdlist a {
    margin-top: 10px;
    margin-left: 30px;
    font-size: 25px;
  }
  #topbar #mdlist .smimg {
    display: none;
  }
  #topbar #mdlist .mdbuttom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #topbar #mdlist input {
    border: none;
    color: white;
    background-color: #fd3c3d;
    height: 60px;
    margin-right: 30px;
    font-weight: bolder;
    font-size: 16px;
    border-bottom: 2px solid #fd3c3d;
  }
  #topbar #mdlist input:hover {
    border-bottom: 2px solid white;
  }
  #topbar #mdlist .mdicon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  #topbar #mdlist .mdicon img {
    -o-object-fit: contain;
       object-fit: contain;
    margin-left: 10px;
  }
}
@media (min-width: 992px) {
  #topbar #mdlist a {
    margin-top: 0px;
    margin-left: 10px;
    font-size: 25px;
    line-height: 60px;
  }
  #topbar #mdlist .mdbuttom {
    display: none;
  }
  #topbar #mdlist img {
    padding-top: 7px;
    height: 30px;
  }
  #topbar #mdlist .lgbuttom {
    display: block;
  }
}